// Variabili per la scala di grigio/nero
$gray-light: #333;
$gray-dark: #222;
$black: #000;

// Stili per la pagina di login
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $gray-light;
}

.login-container {
  width: 90%;
  max-width: 400px;
  padding: 40px;
  margin: 0 auto;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.logo-container {
  text-align: center;
  margin-bottom: 20px;
}

.title-container {
  text-align: center;
  margin-bottom: 20px;
}

.login-title {
  color: $gray-dark;
  font-size: 24px;
}

.form-group {
  margin-bottom: 20px;
}

.input-group {
  display: flex;
  align-items: center;
}

.input-icon {
  font-size: 1.2em;
  margin-right: 10px;
}

.form-label {
  font-weight: bold;
  color: $gray-dark;
}

.form-control {
  flex: 1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid $gray-light;
}

.row-button {
  text-align: center;
}

.btn-primary {
  padding: 10px 20px;
  font-size: 16px;
  background-color: $gray-dark;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: darken($gray-dark, 10%);
}
